* {
	box-sizing: border-box;
	font-family: "Roboto Slab";
	color: #000000;
}

.container {
	max-width: 1241px;
	margin: 0 auto;
}

.container_header {
	max-width: 1290px;
	margin: 0 auto;
}

.button {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 11px 15px;
	width: 115px;
	height: 38px;
	background: #5222d0;
	border: none;
	border-radius: 100px;
	font-family: "Intro";
	font-weight: 400;
	font-size: 13px;
	color: #ffffff;
	text-transform: uppercase;
	cursor: pointer;
}

.button:hover {
	background: #461bb1;
}

.button_about {
	width: 270px;
	height: 84px;
	margin-top: 30px;
	padding: 28px 28px 21px 33px;
	background: #5222d0;
	border: none;
	border-radius: 100px;
	font-family: "Intro";
	font-weight: 400;
	font-size: 35px;
	color: #ffffff;
}

.button_subscribe {
	width: 135px;
	margin-top: 23px;
}

.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 43%;
	padding: 0;
	margin: 0;
	margin-top: 146px;
	list-style: none;
}

.menu__link {
	font-size: 20px;
	text-decoration: none;
}

.menu__link:hover {
	color: #5222d0;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 50px;
}

.about {
	min-height: 743px;
	padding: 76px 0 53px 0;
}

.about .about__img {
	width: 55vw;
	position: absolute;
	right: 0;
	top: 89px;
	z-index: -1;
}

.title {
	width: 43%;
	font-family: "Intro";
	font-weight: 400;
	font-size: 60px;
	line-height: 72px;
}

.about .about__descr {
	width: 39%;
	margin-top: 10px;
	font-weight: 300;
	font-size: 20px;
	line-height: 32px;
}

.opportunities {
	min-height: max-content;
	padding: 89px 0 30px 0;
}

.opportunities .opportunities__content {
	margin-top: 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.opportunities .opportunities__item {
	width: 30%;
}

.opportunities .opportunities__item:nth-child(4),
.opportunities__item:nth-child(5),
.opportunities__item:nth-child(6) {
	margin-top: 25px;
}

.opportunities .opportunities__item:nth-child(4),
.opportunities__item:nth-child(5) {
	padding-top: 25px;
}

.opportunities .opportunities__item:nth-child(6) {
	padding: 25px 22px 55px 18px;
	background-color: #ec615b;
}

.opportunities .opportunities__title_subscribe {
	color: #ffffff;
}

.opportunities .opportunities__input {
	width: 100%;
	height: 50px;
	margin-top: 6px;
	padding-left: 14px;
	border: none;
}

.opportunities .opportunities__item_with-img {
	display: grid;
	grid-template-rows: 285px 8% 1fr;
}

.opportunities .opportunities__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.opportunities .opportunities__title {
	font-family: "Intro";
	font-weight: 400;
	font-size: 30px;
	align-self: flex-end;
}

.opportunities .opportunities__descr {
	margin-top: 10px;
	font-size: 20px;
	line-height: 32px;
}

.opportunities .menu {
	margin-top: 114px;
}

@media screen and (max-width: 1280px) {
	.container,
	.container_header {
		max-width: 90%;
	}

	.title {
		font-size: 57px;
	}

	.menu {
		width: 50%;
	}

	.opportunities .opportunities__title {
		font-size: 28px;
	}

	.opportunities .opportunities__descr {
		font-size: 18px;
		line-height: 27px;
	}

	.opportunities .menu {
		margin-top: 90px;
	}
}

@media screen and (max-width: 1200px) {
	.title {
		font-size: 55px;
		width: 53%;
	}

	.about {
		min-height: max-content;
	}

	.about .about__img {
		width: 50vw;
	}

	.about .about__descr {
		width: 55%;
	}

	.menu {
		width: 60%;
		margin-top: 55px;
	}

	.opportunities .opportunities__item {
		width: 28%;
	}

	.opportunities .opportunities__title {
		font-size: 21px;
	}

	.opportunities .opportunities__descr {
		margin-top: 5px;
		font-size: 14px;
		line-height: 23px;
	}

	.opportunities .opportunities__item:nth-child(4),
	.opportunities__item:nth-child(5) {
		padding-top: 15px;
	}

	.opportunities .menu {
		margin-top: 90px;
	}
}

@media screen and (max-width: 960px) {
	.title {
		font-size: 43px;
		line-height: 56px;
	}

	.about {
		padding: 50px 0 30px 0;
	}

	.about .about__img {
		top: 130px;
		width: 45vw;
	}

	.about .about__descr {
		font-size: 17px;
		line-height: 25px;
	}

	.button_about {
		width: 225px;
		height: 68px;
		padding: 10px 22px 16px 25px;
		font-size: 30px;
	}

	.menu {
		width: 75%;
	}

	.opportunities .opportunities__item {
		grid-template-rows: 0% 25% 1fr;
		width: 31%;
		height: 220px;
	}

	.opportunities .opportunities__title {
		align-self: center;
	}

	.opportunities .opportunities__descr {
		font-size: 15px;
	}
}

@media screen and (max-width: 760px) {
	.about .about__img {
		display: none;
	}

	.title {
		width: 100%;
	}

	.about .about__descr {
		width: 100%;
	}

	.menu {
		width: 100%;
	}

	.menu__link {
		font-size: 16px;
	}

	.opportunities .opportunities__content {
		justify-content: center;
	}

	.opportunities .opportunities__item {
		grid-template-rows: 0% 15% 1fr;
		width: 80%;
		height: 170px;
	}

	.opportunities .opportunities__item:nth-child(4),
	.opportunities__item:nth-child(5),
	.opportunities__item:nth-child(6) {
		margin-top: 0;
		padding-top: 0;
	}

	.opportunities .opportunities__title {
		font-size: 20px;
	}

	.opportunities .opportunities__descr {
		margin-top: 0;
		font-size: 14px;
	}

	.button_subscribe {
		margin-top: 12px;
	}
}

@media screen and (max-width: 480px) {
	.header .header__logo {
		width: 50%;
	}

	.header .header__logo img {
		width: 100%;
	}

	.title {
		font-size: 34px;
		line-height: 45px;
	}

	.button_about {
		margin: 0 auto;
		margin-top: 20px;
	}

	.menu {
		flex-direction: column;
		height: 25vh;
	}

	.opportunities .opportunities__item {
		width: 80%;
	}
}
